<div id="full_page_wrapper"> 
    <div class="header">
        <h2><span>Steam Game //</span> About Us</h2>
    </div>
    <div id="post_wrapper">
        <div class="wrapper-content about-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="left">
                        <div class="content-padding remove-padding">
                            <div class="about-content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Dolorem definiebas usu cu, quot case detracto mei in. Eos deleniti moderatius ea. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Dolorem definiebas usu cu, quot case detracto mei in. Eos deleniti moderatius ea.</p>
                                <div class="google-paraph">
                                    <div class="image"><a href="javascript:void(0);"><img src="/esportelation-frontend/assests/img/1_002.jpg" alt="alt_example"></a></div>
                                    <div class="google-info">
                                        <h2>Tom "Fishsticks" <span>Co-Founder</span></h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        <p class="margin-bottom-three"><strong>Favorite Pro:</strong> Froggen</p>
                                        <p class="margin-bottom-three"><strong>Favorite Skin:</strong> Blood Lord Vladimir</p>
                                        <p><strong>Favorite Beer:</strong> Stone IPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-content">
                                <div class="google-paraph">
                                    <div class="image"><a href="javascript:void(0);"><img src="/esportelation-frontend/assests/img/2.jpg" alt="alt_example"></a></div>
                                    <div class="google-info">
                                        <h2>Jerod "Ignis" <span>Co-Founder</span></h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        <p class="margin-bottom-three"><strong>Favorite Pro:</strong> Froggen</p>
                                        <p class="margin-bottom-three"><strong>Favorite Skin:</strong> Blood Lord Vladimir</p>
                                        <p><strong>Favorite Beer:</strong> Stone IPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-content">
                                <div class="google-paraph">
                                    <div class="image"><a href="javascript:void(0);"><img src="/esportelation-frontend/assests/img/6_002.jpg" alt="alt_example"></a></div>
                                    <div class="google-info">
                                        <h2>Rhea "Ashelia" <span>Community Lead</span></h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        <p class="margin-bottom-three"><strong>Favorite Role:</strong> Froggen</p>
                                        <p class="margin-bottom-three"><strong>Favorite Weekend Activity:</strong> Blood Lord Vladimir</p>
                                        <p><strong>Biggest Fear:</strong> Stone IPA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>