<div id="main_news_wrapper">
    <div id="row"> 
        <!-- Left wrapper Start -->
        <div id="left_wrapper">
            <div class="header">
                <h2><span>Steam Game //</span> Contact Us</h2>
            </div>
            <div id="post_wrapper">
                <div class="wrapper-content">
                    <div class="contact_form" id="response">
                        <h1> Drop us a message! </h1>
                        <p>If you have any comments or concerns and have already checked out the Frequently Asked Questions below, feel free to complete the following form.</p>
                        <form action="http://local.bizdesire.com/steam-html/submit" id="form">
                            <div class="form_left">                     
                                <label>Name <sup>*</sup></label>
                                <input type="text" id="name" class="text-input" name="name" placeholder="Your Name">
                                <label>Email <sup>*</sup></label>
                                <input type="text" id="email" class="text-input" name="email" placeholder="Email ID">
                                <label>Website</label>
                                <input type="text" id="web" name="web" placeholder="Website URL">                    
                            </div>
                            <div class="form_right">
                                <p class="text">
                                    <label>Your Message <sup>*</sup></label>
                                    <textarea rows="10" cols="10" id="comment" class="text-input" name="text" placeholder="Your message here..."></textarea>
                                </p>
                            </div>                      
                            <div class="form_submit"><button class="btn btn-default read_more2" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left wrapper end -->
        <!-- Right wrapper Start -->
        <div id="right_wrapper">
            <div class="review">
                <div class="header"><a href="#">We are Social</a></div>
                <div class="socialize">
                    <a target="_blank" href="javascript:void(0);" class="s-fb" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="javascript:void(0);" class="s-tw" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="javascript:void(0);" class="s-yt" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                    <a target="_blank" href="javascript:void(0);" class="s-tc" data-toggle="tooltip" data-placement="top" title="Twitch"><i class="fa fa-twitch"></i></a>
                    <a target="_blank" href="javascript:void(0);" class="s-st" data-toggle="tooltip" data-placement="top" title="Steam"><i class="fa fa-steam"></i></a>
                </div>
            </div> 
            <div class="review contact-review">
                <div class="header"><a href="#">Contact Information</a></div>
                <div class="contact-inner-information">
                    <h3>What do we stand for ?</h3>
                    <p>Soleat aperiam ex pri, at pericula constituam efficiantu per, voluptaria intellegam eu nec. Duo modus homero vivendum an, facete timeam ne eum.</p>
                    <a class="icon-line" href="mailto:steam@oursite.com">
                        <i class="fa fa-comment"></i><span>steam@oursite.com</span>
                    </a>
                    <span class="icon-line">
                        <i class="fa fa-map-marker"></i><span>949 West Grassland Drive, UT 84003</span>
                    </span>
                    <span class="icon-line">
                        <i class="fa fa-phone"></i><span>+56 (789) 5236</span>
                    </span>
                    <span class="icon-line">
                        <i class="fa fa-envelope"></i><span>steamwebsite.com</span>
                    </span>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13721.063772182039!2d76.68754668909514!3d30.710923204718625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5821410c4d%3A0x95be4ab5acbadb43!2sIndustrial+Area%2C+Sahibzada+Ajit+Singh+Nagar%2C+Punjab!5e0!3m2!1sen!2sin!4v1486532922992" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>