<div id="main_news_wrapper">
    <div id="row"> 
        <!-- Left wrapper Start -->
        <div id="left_wrapper">
            <div class="header">
                <h2><span>Steam Game //</span> Support &amp; FAQ</h2>
            </div>
            <div id="post_wrapper">
                <!-- Left wrapper Start -->
                <div class="wrapper-content">     
                    <div class="contact_form" id="response">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>How to play Game? </h1>
                                <p>Below lists some of the most common questions we receive, along with our answer. If you have questions specific to your Steam account.</p>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">                    
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click me to expand. Click me again to collapse.Section 1</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class = "panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click me to expand. Click me again to collapse.Section 2</a></h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseThree">Click me to expand. Click me again to collapse.Section 3</a></h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseFour">Click me to expand. Click me again to collapse.Section 4</a></h4>
                                        </div>                   
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1>Instruction about Payment </h1>
                                <p>Below lists some of the most common questions we receive, along with our answer. If you have questions specific to your Steam account.</p>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">                    
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Click me to expand. Click me again to collapse.Section 1</a></h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse in">
                                            <div class = "panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Click me to expand. Click me again to collapse.Section 2</a></h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>                    
                                    </div>                 
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseSeven">Click me to expand. Click me again to collapse.Section 3</a></h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>                   
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseEight">Click me to expand. Click me again to collapse.Section 4</a></h4>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="margin-top-20"> Legal Information</h1>
                                <p>Below lists some of the most common questions we receive, along with our answer. If you have questions specific to your Steam account.</p>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">                    
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Click me to expand. Click me again to collapse.Section 1</a></h4>
                                        </div>
                                        <div id="collapseNine" class="panel-collapse collapse in">
                                            <div class = "panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Click me to expand. Click me again to collapse.Section 2</a></h4>
                                        </div>
                                        <div id="collapseTen" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseEleven">Click me to expand. Click me again to collapse.Section 3</a></h4>
                                        </div>
                                        <div id="collapseEleven" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href ="#collapseTweleve">Click me to expand. Click me again to collapse.Section 4</a></h4>
                                        </div>
                                        <div id="collapseTweleve" class="panel-collapse collapse">
                                            <div class="panel-body">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                                        </div>                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--row close here-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Left wrapper end --> 
    </div>
</div>