<div ng-include="'include/crousel.html'"></div>
<!--Hot news start-->
<div id="hot_news">
	<div class="header">
		<h1><span>Steam Game //</span> HOT Games</h1>
	</div>
	<div class="hot-news-slider">
		<div class="owl-carousel owl-theme">
			<div class="item">
				<div class="inner-news">
					<h2>THE WITCHER 3: WILD HUNT</h2>
					<div class="bet-fight">
						<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/6.jpg"></a></div>
						<div class="versis-img"><img src="/esportelation-frontend/assests/img/versis-icon.png" alt=""></div>
						<div class="image right-game"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/6.jpg"></a></div>
					</div>
					<div class="players-name">
						<h3>Players: John v/s Anderson</h3>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner-news">
					<h2>STAR WARS: BATTLEFRONT 3</h2>
					<div class="bet-fight">
						<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-2.png"></a></div>
						<div class="versis-img"><img src="/esportelation-frontend/assests/img/versis-icon.png" alt=""></div>
						<div class="image right-game"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-2.png"></a></div>
					</div>
					<div class="players-name">
						<h3>Players: Abraham v/s Calvin</h3>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner-news">
					<h2>THE LAST OF US: REMASTERED</h2>
					<div class="bet-fight">
						<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
						<div class="versis-img"><img src="/esportelation-frontend/assests/img/versis-icon.png" alt=""></div>
						<div class="image right-game"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
					</div>
					<div class="players-name">
						<h3>Players: David v/s Ferris</h3>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner-news">
					<h2>THE LAST OF US: REMASTERED</h2>
					<div class="bet-fight">
						<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
						<div class="versis-img"><img src="/esportelation-frontend/assests/img/versis-icon.png" alt=""></div>
						<div class="image right-game"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
					</div>
					<div class="players-name">
						<h3>Players: David v/s Ferris</h3>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner-news">
					<h2>THE LAST OF US: REMASTERED</h2>
					<div class="bet-fight">
						<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
						<div class="versis-img"><img src="/esportelation-frontend/assests/img/versis-icon.png" alt=""></div>
						<div class="image right-game"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/player-3.png"></a></div>
					</div>
					<div class="players-name">
						<h3>Players: David v/s Ferris</h3>
					</div>
				</div>
			</div>          
		</div>
	</div>
</div>
<!--Hot news end--> 
<!--********************************************* Main start *********************************************-->
<div id="main_news_wrapper">
	<div id="row"> 
		<!-- Left wrapper Start -->
		<div id="left_wrapper">
			<div class="header">
				<h2><span>Steam Game //</span> GENERAL Updates</h2>
			</div>
			<ul id="general_news">
				<li>
					<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/1_002.jpg"></a></div>
					<ul class="social_share">
						<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/fbk.png" border="0"></a></li>
						<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/twitter.png" border="0"></a></li>
					</ul>
					<div class="info">
						<div class="comments"> 18 </div>
						<h2><a href="javascript:void(0);">Blade and Soul - Open beta announced!</a></h2>
						<div class="date_n_author">12 July 2012, by Admin</div>
						<p>Integer tincidunt tellus ut metus viverra ac sodales 
						odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in 
						turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius 
						eleifend, eros lorem iaculis massa, vitae consequat enim diam eget 
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
						nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget 
						massa augue. Suspendisse urna lectus.</p>
						<a href="javascript:void(0);" class="read_more2">read more</a> 
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="image"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/2.jpg"></a></div>
					<ul class="social_share">
						<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/fbk.png" border="0"></a></li>
						<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/twitter.png" border="0"></a></li>
					</ul>
					<div class="info">
						<div class="comments"> 18 </div>
						<h2><a href="javascript:void(0);">Raiderz item giveaway!</a></h2>
						<div class="date_n_author">12 July 2012, by Admin</div>
						<p>Integer tincidunt tellus ut metus viverra ac sodales 
						odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in 
						turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius 
						eleifend, eros lorem iaculis massa, vitae consequat enim diam eget 
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
						nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget 
						massa augue. Suspendisse urna lectus.</p>
						<a href="javascript:void(0);" class="read_more2">read more</a> 
					</div>
					<div class="clear"></div>
				</li>
			</ul>
			<ul id="pager">
				<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/left_pager.jpg" border="0"></a></li>
				<li><a href="javascript:void(0);">1</a></li>
				<li><a href="javascript:void(0);">2</a></li>
				<li><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/right_pager.jpg" border="0"></a></li>
			</ul>          
			<div class="clear"></div>
		</div>
		<!-- Left wrapper end --> 
		<!-- Right wrapper Start -->
		<div id="right_wrapper">
			<div class="review">
				<div class="header"><a href="#">Top games</a></div>
				<ul>
					<li>
						<div class="img"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/11_002.jpg"></a></div>
						<div class="info"> 
							<a href="javascript:void(0);">Dead space 3</a><br>
							<p>It is a long established fact that a reader will be distracted by the readable content.</p>
							<img alt="alt_example" src="/esportelation-frontend/assests/img/stars.png"> 
						</div>
					</li>
					<li>
						<div class="img"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/6.jpg"></a></div>
						<div class="info"> 
							<a href="http://skywarriorthemes.com/orizon/red/post_game.html">Battlefield 3</a><br>
							<p>It is a long established fact that a reader will be distracted by the readable content.</p>
							<img alt="alt_example" src="/esportelation-frontend/assests/img/stars.png"> 
						</div>
					</li>
					<li>
						<div class="img"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/9.jpg"></a></div>
						<div class="info"> 
							<a href="javascript:void(0);">DayZ - Arma 2 mod</a><br>
							<p>It is a long established fact that a reader will be distracted by the readable content.</p>
							<img alt="alt_example" src="/esportelation-frontend/assests/img/stars.png"> 
						</div>
					</li>
					<li>
						<div class="img"><a href="javascript:void(0);"><img alt="alt_example" src="/esportelation-frontend/assests/img/8_002.jpg"></a></div>
						<div class="info"> 
							<a href="javascript:void(0);">League of legends</a><br>
							<p>It is a long established fact that a reader will be distracted by the readable content.</p>
							<img alt="alt_example" src="/esportelation-frontend/assests/img/stars.png"> 
						</div>
					</li>
				</ul>
			</div>
			<div class="categories">
				<div class="header"><a href="javascript:void(0);">Categories</a></div>
				<ul>
					<li> <a href="javascript:void(0);">Action<i class="fa fa-angle-right"></i></a> </li>
					<li> <a href="javascript:void(0);">Adventure<i class="fa fa-angle-right"></i></a></li>
					<li> <a href="javascript:void(0);">Strategy<i class="fa fa-angle-right"></i></a></li>
					<li> <a href="javascript:void(0);">RPG<i class="fa fa-angle-right"></i></a></li>
					<li> <a href="javascript:void(0);">Indie<i class="fa fa-angle-right"></i></a></li>
					<li> <a href="javascript:void(0);">Massive Multiplayer<i class="fa fa-angle-right"></i></a></li>
				</ul>
			</div>
			<!-- Right wrapper end -->
		</div>
		<div class="clear"></div>
	</div>
</div>
<script>
            $(document).ready(function() {
                var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        margin: 25,
                        nav: true,
                        loop: true,
                        responsive: {
                            0: {
                                items: 1
                                },
                            600: {
                                items: 2
                                },
                            1000: {
                                items: 3
                            }
                        }
                    });
                });
    </script>